{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/add_santa/css/style.css"/>

<br><br><br>

<ul>
    <h1>Registrerade:</h1>
    {% for santa in list_of_santas %}
        <p>
            {{ santa.name }}
        </p>
    {% endfor %}
</ul>

<br><br>

<ul>
    <h1>Anmäl dig här:</h1>
    {% block content %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Anmäl dig</button>
    </form>
{% endblock %}
</ul>
   